html,
body {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background: #2E4057;
}

.container {
    width: 50%;
    height: 330px;
    background: rgb(201, 201, 201);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background: rgba(107, 107, 107, 0.36);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

 :root {
    --swiper-theme-color: #f4d35e;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 22px));
    border-radius: 4px;
}